* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1c1c1c;
}

title {
  padding: 20px;
}

h1, h2 {
  padding: 20px;
}

ul {
  padding: 10px;
}

body {
  text-align: center;
}

.page {
  width: 600px;
  margin: 0 auto;
  text-align: center;
